<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container px-5">
      <a class="navbar-brand" href="#!">Helpi</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="#!">Servicios</a></li>
              <li class="nav-item"><a class="nav-link" href="#!">Iniciar Sesión</a></li>
              <li class="nav-item"><a class="nav-link" href="#!">Registrarse</a></li>
          </ul>
      </div>
  </div>
</nav>

<header class="bg-dark py-5">
  <div class="container px-5">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <div class="text-center my-5">
                  <h1 class="display-5 fw-bolder text-white mb-2">Helpi!</h1>
                  <p class="lead text-white-50 mb-4">¿Necesitas ayuda con alguna tarea en tu hogar? No te preocupes, con Helpi házlo fácil!</p>
                  <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                      <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Empezar</a>
                      <a class="btn btn-outline-light btn-lg px-4" href="#!">Aprender Más</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>

<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
              <h2 class="h4 fw-bolder">Servicios</h2>
              <p>Contamos con una gran variedad de servicios a los cuáles puedes solicitar acceso para contactar con profesionales que te ayuden a realizar la tarea que solicites. Con Fácil acceso y Todo en un solo lugar.</p>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
              <h2 class="h4 fw-bolder">Equipo</h2>
              <p>El equipo de Helpi está conformado por profesionales o personas capacitadas por nosotros. Esto con el fin de que tu servicio sea garantizado y garantizarte a ti y a tu hogar seguridad, eficacia y un excelente servicio</p>
          </div>
          <div class="col-lg-4">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
              <h2 class="h4 fw-bolder">Objetivos</h2>
              <p>Nuestro principal objetivo es generar fuente de empleo y ayudarte a ti como usuario a conectar con trabajadores para resolver tus necesidades. ¿Necesitas ayuda en algo?, no te preocupes Helpi tiene a alguien para apoyarte en eso.</p>
          </div>
      </div>
  </div>
</section>

<section class="py-5 border-bottom">
  <div class="container px-5 my-5 px-5">
      <div class="text-center mb-5">
          <h2 class="fw-bolder">Testimonios de Nuestros Clientes</h2>
          <p class="lead mb-0">Los usuarios de Helpi aman el servicio</p>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <div class="card mb-4">
                  <div class="card-body p-4">
                      <div class="d-flex">
                          <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                          <div class="ms-4">
                              <p class="mb-1">El foco de mi habitación principal no estaba funcionando correctamente, estuve junto a mi esposa cotizando y buscando por horas alguien que nos pudiera ayudar. Con Helpi tardé menos de 5 minutos en poder contactar y negociar con un electricista de su equipo, y fue excelente su servicio.</p>
                              <div class="small text-muted">- Joaquín, Guatemala Zona 15</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-body p-4">
                      <div class="d-flex">
                          <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                          <div class="ms-4">
                              <p class="mb-1">Cuando regresé de viaje mi casa estaba hecha un desastre, y yo sola no sabía ni por donde empezar a limpiar. Tuve la fortuna de contactar a una chica de Helpi que me ayudó con toda la limpieza, muy eficaz su servicio y excelente forma de contacto con ella! Estoy segura que los contactaré en un futuro.</p>
                              <div class="small text-muted">- Andrea, Guatemala Zona 1</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="bg-light py-5">
  <div class="container px-5 my-5 px-5">
      <div class="text-center mb-5">
          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
          <h2 class="fw-bolder">Contáctanos</h2>
          <p class="lead mb-0">Estamos encantados de escuchar tu opinión!</p>
      </div>
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-6">
              <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                  <div class="form-floating mb-3">
                      <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                      <label for="name">Nombre y Apellido</label>
                      <div class="invalid-feedback" data-sb-feedback="name:required">Tu nombre es requerido.</div>
                  </div>
                  <div class="form-floating mb-3">
                      <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                      <label for="email">Correo Electrónico</label>
                      <div class="invalid-feedback" data-sb-feedback="email:required">Tu dirección de correo es requerida.</div>
                      <div class="invalid-feedback" data-sb-feedback="email:email">Esta dirección de correo no es válida.</div>
                  </div>
                  <div class="form-floating mb-3">
                      <input class="form-control" id="phone" type="tel" placeholder="4551-2127" data-sb-validations="required" />
                      <label for="phone">Número Telefónico</label>
                      <div class="invalid-feedback" data-sb-feedback="phone:required">Tu número telefonico es requerido.</div>
                  </div>
                  <div class="form-floating mb-3">
                      <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                      <label for="message">Mensaje</label>
                      <div class="invalid-feedback" data-sb-feedback="message:required">Escribe tu mensaje, este campo es obligatorio.</div>
                  </div>

                  <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center mb-3">
                          <div class="fw-bolder">Tu mensaje fue enviado a nuestro equipo!</div>
                          Ten por seguro que alguno de nuestros colaboradores se pondrá en contacto contigo pronto.
                          <br />
                      </div>
                  </div>
                  <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Lo sentimos, algo salió mal al intentar enviar tu mensaje!</div></div>
                  <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Enviar</button></div>
              </form>
          </div>
      </div>
  </div>
</section>
<footer class="py-5 bg-dark">
  <div class="container px-5"><p class="m-0 text-center text-white">Derechos Reservador &copy; Grupo 1 - IN6BM2</p></div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
